.cemetery-container {
  position: relative;
  padding-top: 40px!important;
  padding-bottom: 0!important;
  border-radius: 5px;
  border: 1px solid #D4D4D5;
  box-shadow: 0 0 3px 1px rgba(165, 165, 165, .2);
}
.cemetery-title {
  position: absolute;
  top: -1px;
  left: -1px;
  margin-bottom: 5px;
  padding-left: 10px;
  width: calc(100% + 2px);
  height: 40px;
  line-height: 40px;
  background-color: #409eff;
  color: #fff!important;
  font-weight: 200!important;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0 ;
  border: 1px solid #409eff;
}
.cemetery-title label {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.cemetery-title+div p {
  margin-left: 10px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
}
.cemetery-title+div p:not(:last-child) {
  border-bottom: 1px solid #d4d4d4;
}
.cemetery-title+div p i {
  margin-right: 10px;
  color: #3c8dbc;
}

.overview {
  position: relative;
  width: 100%;
}
.overview .preview {
  width: 100%;
  height: 100%;
}
.overview .preview img {
  cursor: pointer;
}
.overview .details {
  display: none;
  overflow-x: auto;
}
.overview .preview, .overview .details {
  text-align: center;
}

.main-sidebar {
  width: 230px;
  position: relative;
  overflow: hidden!important;
}
.scroll-wrapper {
  position: absolute;
  left: 0;
  height: 100%;
  padding-bottom: 80px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebar {
  width: 230px;
}

.cemetery-table a {
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 50px;
  border: 1px solid #c0c0c0;
  color: white;
}
.cemetery-table .cemetery-table-left {
   text-align: left;
 }
.cemetery-table .cemetery-table-right {
  text-align: right;
}
.cemetery-table-wrapper-right {
  overflow-x: auto;
}
.cemetery-table-wrapper-right td {
  text-align: right;
}
.cemetery-table-middle-road a {
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 100px;
  border: 1px solid #c0c0c0;
  color: white;
}
.cemetery-table-middle-road .cemetery-table-left {
  text-align: left;
}
.cemetery-table-middle-road .cemetery-table-right {
  text-align: right;
}