@charset "utf-8";
/谷歌浏览器字体最小问题/
html { -webkit-text-size-adjust:none;}
body{font-family: "微软雅黑";}
/*****按钮公共样式****/
.btn{
	border-radius:6px;
}
	/*****搜索按钮*****/
.btn.btn-search{
	padding:5px 40px;
}
.btn.btn-psearch{
	padding:4px 30px;
	border-radius:6px;
	vertical-align:top;
}
.btn.btn-search-left{
	margin-top:-3px;
	margin-left:10px;
}
	/*******打印导出按钮\收费\修改等按钮组******/
.btns-buy .btn,	
.btns-charge .btn,
.btns-print .btn{
	margin-left:10px;
	width:100px;
	text-align:center;
	padding:5px 0px;
}
.btns-charge-right .btn{
	margin-right:10px;
}
.btns-buy .btn.btn-color-ff7043{
	background-color:#ff7043;
	color:#fff;
}
.btn-color-green{
	background-color:#09693D;
	color:#fff;
}
.btns-print .btn.btn-color-ab47bc:hover{
	background-color:#9026AB;
}
.btns-print .btn.btn-color-ab47bc{
	background-color:#ab47bc;
	color:#fff;
}
	/******常用按钮组*****/
.btn.btn-normally{
/* 	background-color: #cfcfcf;
    color: #000;
    width:100px;
    text-align:center; */
    
    background-color: #fff;
    color: #29b6f6;
    width: 100px;
    text-align: center;
    border: 1px solid #29b6f6;
}

.btn.btn-all {
    background-color: #29b6f6;
    color: #fff;
    width: 100px;
    text-align: center;
    border: 1px solid #29b6f6;
}


	/******homeTab 保存重置返回按钮组******/
.btns-hometab .btn{
    margin-left: 15px;
    padding: 5px 30px;
}
.btns-hometab .btn-margin{
	margin-top:50px;
	margin-left:0px;
	margin-right:15px;
}
.btns-hometab .btn-right{
	margin-right:10px;
}
.btns-hometab .btn.btn-color-9E8273{
	background-color:#9E8273;
	color:#fff;
}
	/******dialog 保存重置返回按钮组*****/
.btns-dialog{
	text-align:center;
	padding-top:0px;
	padding-bottom:10px;
}
.btns-dialog .btn.btn-margin{
	padding: 5px 20px;
	margin: 0px;
	margin-left:10px;
	margin-top:10px
}

.btns-dialog .btn.btn-color-9E8273{
	background-color:#9E8273;
	color:#fff;
}

	/****进入列表按钮组****/
.btns-list .btn{
    padding: 5px 20px;
    border-radius: 6px;
    margin-top: -3px;
}
.btns-list .btn.btn-color-ab47bc{
	background-color:ab47bc;
	color:#fff;
}
/*********左对齐***********/
	.lab-1{
		padding-left:13px;
	}
	.lab-2{
		padding-left:27px;
	}
	.lab-3{
		padding-left:41px;
	}
	.label-4{
		padding-left:55px;
	}
/******高对齐*******/
.height-align{
	height:30px;
	line-height:30px;
}
/********必填小红点居中**********/
.fa-middle{
	position:absolute;
}
/********时间段‘-’*********/
.timerange{
	margin-left:5px;
}
/********hometab-table样式**********/
	/*****table外层包含框*******/
.hometab-div{
	margin-top:60px;
}
/*******边框*******/
.border-B{
	border-bottom:1px solid #efefef;
}
.border-T{
	border-top:1px solid #efefef;
}
/********padding********/
.nopadding-T{
	padding-top:0px;
}
.nopadding-B{
	padding-bottom:0px;
}
.nopadding-R{
	padding-right:0px;
}
.padding-B{
	padding-bottom:15px;
}
.padding-L{
	padding-left:15px;
}
.padding-T{
	padding-top:15px;
}
/****margin**/
.margin-T{
	margin-top:15px;
}
.margin-B{
	margin-bottom:15px;
}
.margin-L{
	margin-left:15px;
}
.margin-R{
	margin-right:15px;
}
.nomargin-B{
	margin-bottom:0px;
}
.nomargin-T{
	margin-top:0px;
}
.nomargin-R{
	margin-right:0px;
}
.nomargin-L{
	margin-left:0px;
}
/******p的样式******/
.p{
	color:#28b5f4;
	padding:10px 10px;
	margin:0px;
}
/********dialog********/
	/*****宽度***/
.dialog-width{
	width:60%;
}
/******表单元素******/
	/*******dialog*******/
.input-dialog{
	width:50%;
	min-width:50%;
}
.textarea-dialog{
	width:80%;
	display:inline-block;
	vertical-align:top;
}
	/******hometab******/
.textarea-hometab{
	display:inline-block;
	min-width:80%;
	width:80%;
	height:100px;
	vertical-align:top;
}
.input-hometab{
	width:30%;
	min-width:30%;
	padding-right:0px;
	
}
/******搜索按钮提示框*********/
.warning{
		opacity:1;
		color:red;
}
.nowarning{
	opacity:0;
}
/*******hometab右上角提示颜色组合*******/
	.la_ul{
		list-style:none;
		float: right;
	}
	.la_ul li{
		width: 20px;
		height: 20px;
		border-radius:6px;
		margin: 0 0 0 20px;
		float: left;
		border:1px solid #efefef;
	}
	.la_ul li>div{
		width: 30px;
		font-size: 12px;
		margin-top: 23px;
		margin-left: -1px;
		position: absolute;
	}
/******table里的表单*******/
.list_table {
	border-radius: 6px;
	border: 1px rgb(169, 169, 169) solid;
	width: 100%;
	line-height: 30px;
	height: 30px;
	padding: 0 8px;
	min-width:0px;
}
.table.table-bordered td{
	height:30px;
	vertical-align:middle;
}
.table.table-bordered th{
	vertical-align:middle;
}
/******清除浮动********/
	.cl:after{
		content:'';
		display:block;
		clear:both;
	}
/******row********/
.row-width{
		background-color:#fff;
		width:100%;
		margin-left:0px;
		padding-bottom:15px;
		border-radius:6px;
}
/******loser*******/
.loser{
	display:block;
		width:100%;
		color:#58C6F7;
}
/****modal-content*****/

.modal-content{
	border-radius:6px;
}
.modal-title,.box-title{
	color:#00c0ef;
}
/*******照片框****/
.ID-pic{
	margin-left:10px;
	position:relative;
	width:325px;
	height:415px;
	cursor:pointer;
	border:2px solid #ccc;
}
.ID-pic span{
	position:absolute;
	cursor:pointer;
	width:100px;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	font-size:40px;
	color:#ccc;
	text-align:center;
	line-height:50px;
}
.ID-pic img{
	position:absolute;
}
/*********IE select***********/
select.list_select{
	height:31px\0;
	padding-right:0px\0;
}
/******content-reset*******/
.content{
	min-height:0px;
	 
}
.table td a{
	display:inline-block;
	width:100%;
	height:100%;
}
.table-hover1 td:hover{
	background-color:#efefef;
}
.overx{
	overflow-x:auto;
}
.table.table-width{
	margin-bottom:0px;
}
.table.table-width th,.table.table-width td{
	white-space: nowrap;
}
.frame{
	border:1px solid #ccc;
	box-shadow:none;
	height:800px;
}
/*输入式下拉框*/
div.input-menu{
    position:relative;
}
div.input-menu select.input-content{
    padding:4px 6px;
    width:74px;
    position:absolute;
    left:0px;
    top:0px;
    border-radius:4px;
    border:1px solid rgb(169, 169, 169);
}
div.input-menu input.input-show{
    padding:4px 6px;
    width:57px;
    position:absolute;
    left:0px;
    top:0px;
    border-radius:4px;
    border:1px solid rgb(169, 169, 169);
    height:30px;
}
div.input-menu div.show-menu{
    border:1px solid rgb(169, 169, 169);
    position:absolute;
    z-index:100;
    background-color:#fff;
    width:74px;
    padding:5px;
    top:28px;
    left:0px;
	overflow-y:scroll;
    display:none;
	height:192px;
}
.mark{
	background-color:#89cdfc;
	color:#fff;
}
div.input-menu div.show-menu p{
    line-height:24px;
    font-size:12px;
    margin:0px;
}
div.input-menu div.show-menu p:hover{
    cursor:pointer;
}
.state1{
	font-weight:600;
}
.fix-table{
	overflow-x:auto;
	padding-left:0px;
}
.fix-table .table{
	width: auto;
    max-width: auto;
}
.fix-table .table.table-bordered td {
	min-width:94px;
}
#stable td,#stable th{
	text-align:left;
	
}