@CHARSET "UTF-8";

body {
	font-family: Microsoft YaHei;
}

.title {
	height: 30px;
	float: left;
	font-size: 20px;
	color: #29b6f6;
	font-family: Serif;
	padding-left: 10px;
	margin-top:-4px;
	font-weight:900;
}
.box.box-solid>.box-header .btn:hover, .box.box-solid>.box-header a:hover{
	
}
.list_select {
	border-radius: 6px;
	border: 1px rgb(169, 169, 169) solid;
	max-width: 70%;
	line-height: 30px;
	height: 30px;
	padding: 0 8px;
}

.list_input {
	border-radius: 6px;
	border: 1px rgb(169, 169, 169) solid;
	line-height: 30px;
	height: 30px;
	padding: 0 8px;
	min-width: 70%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	margin-top: 10px;
}

.title-line {
	height: 20px;
	width: 6px;
	background-color: #29b6f6;
	float: left;
	margin-left:
}

.content-header {
	min-height: 30px;
	overflow:hidden;
}

.btn-grey {
	background-color: #cfcfcf;
	color: #444;
	border-color: #c3c3c3;
}

.table-bordered {
	border: 1px solid #c0c0c0;
}

.table-bordered>thead>tr>th {
	border: 1px solid #c0c0c0;
	text-align: center;
	background-color: #ccc;
}

.table-bordered>tbody>tr>td {
	border: 1px solid #c0c0c0;
	text-align: center;
}
.table-bordered-left>thead>tr>th {
	border: 1px solid #c0c0c0;
	text-align: center;
	background-color: #ccc;
}
.table-bordered-left>tbody>tr>td {
	border: 1px solid #c0c0c0;
	text-align: left;
}
.dataTables_paginate {
	text-align: right;
}

.pagination {
	margin: 0;
}
.form-control{
	border-radius: 4px;
	border-color: #a9a9a9;
}
.error-input{
	border-color: #dd4b39;
}
/*****人员选择*****/
.wk-choose{
	margin-left:-41px;
	padding:3px !important;
	height:29px;
	border-radius:4px;
	margin-top:-4px;
}
