#bonfire-pageloader {
    background-color: rgba(255, 255, 255, .5);
}

/* loading icon color */
#bonfire-pageloader svg {
    fill: #000;
}

#bonfire-pageloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.bonfire-pageloader-fade {
    opacity: 0 !important;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    -ms-transition: all .75s ease;
    transition: all .75s ease;
}

.bonfire-pageloader-hide {
    display: none;
}

/* the loading icon */
.bonfire-pageloader-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    color: #fff;
}

#bonfire-pageloader svg {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    width: 100px;
    height: 100px;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
