@media print{
	*{
		box-sizing:content-box;
		font-size:10px ;
	}
	#table table{
		width:100%;
		border-collapse:collapse;
		border:1px solid #000;
	}
	#table table td{
		border:1px solid #000;
		padding:0px;
	}
	.colum{
		-webkit-column-count:2;
		-moz-column-count:2;
		column-count:2;
	}
	.table.table-bordered {
		border-collapse:collapse;
		border:1px solid #000;
	}
	.table.table-bordered-left {
		border-collapse:collapse;
		border:1px solid #000;
	}
	.table.table-bordered th{
		padding:0px;
		border:1px solid #000 !important;
		line-height:20px;
		height:auto;
	}
	.table.table-bordered-left th{
		border:1px solid #000 !important;
	}
	.x-table{
		width:800px !important;
	}
	.table.table-bordered td
	{
		padding:0px;
		border:1px solid #000 !important;
		line-height:18px;
		height:auto;
	}
	.table.table-bordered-left td
	{
		border:1px solid #000 !important;
	}
	.table.table-bordered td .list_table{
		height:auto;
		line-height:18px;
	}
	#table table td span,
	#table table td input{
		word-break:break-all;
	}
	.lab-4 {
	    width: 72px;
	    text-align: right;
	}
	.col-md-5 {
	    width: 41.66666667%;
	    float: left;
	    padding:0px;
	    margin-top:0px;
	}
	.col-md-4 {
	    width: 33.33333333%;
	    float: left;
	    padding:0px;
	}
	.row {
    margin-right: 0px;
    margin-left: 0px;
	}
	.list_table{
		border:none;
	}
	.col-md-7 {
	    width: 58.33333333%;
	     float: left;
	     padding:0px;
	    margin-top:0px;
	}
	.col-md-6{
		 width: 50%;
	     float: left;
	     padding:0px;
	}
	.col-md-12 {
    width: 100%;
    float: left;
    padding:0px;
    
}
	.lab-6 {
	    width: 100px;
	    text-align: right;
	}
	.lab-1 {
    padding-left: 13px;
}
.lab-3 {
    padding-left: 39px;
}
.lab-2{
    padding-left: 26px;
}
.label-4 {
    padding-left: 52px;
}

	label {
	    display: inline-block;
	    max-width: 100%;
	    margin-bottom: 5px;
	    font-weight: bold;
	}
	.white {
	    display: inline-block;
	    vertical-align: center;
	    width: 20px;
	    height: 20px;
	    transform: translateX(-30px);
	    background: #fff;
	}
.height-align {
    height: 20px;
    line-height: 20px;
}
.box-header:after, .box-body:after, .box-footer:after {
    clear: both;
}
.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table;
}
.box-header:after, .box-body:after, .box-footer:after {
    clear: both;
}
.col-md-10 {
    width: 83.33333333%;
}
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-10,
.col-md-12,
.row{
	margin-top:0px;
}

.ID-pic{
	margin-left:10px;
	position:relative;
	width:325px;
	height:415px;
	cursor:pointer;
	border:2px solid #ccc;
}
.ID-pic span{
	position:absolute;
	cursor:pointer;
	width:100px;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	font-size:40px;
	color:#ccc;
	text-align:center;
	line-height:50px;
}
.ID-pic img{
	position:absolute;
}
	.first_line{
		margin-top:180px;
	}
	.dName_1{
		margin-left:125px;
		font-size:16px;
	}
	.dsex_1{
		margin-left:75px;
		font-size:16px;
	}
	.dID_1{
		margin-left:110px;
		font-size:16px;
	}
	.date_line_1{
		margin-top:20px;
		
	}
	.year_1{
		margin-left:115px;
		font-size:16px;
	}
	.month_1{
		margin-left:35px;
		font-size:16px;
	}
	.day_1{
		margin-left:35px;
		font-size:16px;
	}	
	.second_line{
		margin-top:25px;
	}
	.username_1{
		margin-left:460px;
		font-size:16px;
	}
	.nowmonth_1{
		margin-left:460px;
		font-size:16px;
	}
	.nowday_1{
		margin-left:35px;
		font-size:16px;
	}
	.idcode{
		margin-left:425px;
		font-size:16px;
	}
	.third_line{
		margin-top:285px;
	}
	.dName_2{
		margin-left:170px;
		font-size:16px;
	}
	.dsex_2{
		margin-left:80px;
		font-size:16px;
	}
	.dID_2{
		margin-left:125px;
		font-size:16px;
	}
	.date_line_2{
		margin-top:20px;
	}
	.year_2{
		margin-left:165px;
		font-size:16px;
	}
	.month_2{
		margin-left:40px;
		font-size:16px;
	}
	.day_2{
		margin-left:40px;
		font-size:16px;
	}	
	.forth_line{
		margin-top:105px;
	}
	.username_2{
		margin-left:165px;
		font-size:16px;
	}
	.last_line{
		margin-top:40px;
		
	}	
	.nowmonth_2{
		margin-left:440px;
		font-size:16px;
	}
	.nowday_2{
		margin-left:45px;
		font-size:16px;
	}
/* 	.p{ */
/* 		padding:0px 10px  ; */
/* 	} */
	 td a.a{
	 display:inline;
	}
	#stable td,
	#stable th{
		padding:5px;
		font-size:10px;
		border: 1px  solid rgb(0, 0, 0) ;
	}
	.col-md-offset-1,
	.col-md-offset-2{
		margin-left:150px;
	}
	#p-title{
		font-size:20px !important;
	}
	.list_select{
		border:0px !important;
	}
	i.print-i{
		    display: inline-block !important;
		    width: 20px !important;
		    height: 20px !important;
		    margin-left: -20px !important;
		    background: #fff !important;
	}
	.dis{display:none;}
}