.fr-absolutelayout,
.x-table,.fr-horizontalboxlayout.ui-state-enabled,
.report-background,
.page-block,.pageContentDIV{
	width:100% !important;
}
.x-toolbar.ui-state-enabled table .fr-horizontalboxlayout.ui-state-enabled{
	width:42px !important;
}
.fr-horizontalboxlayout{
	min-width:100% !important;
}
.pmeter-container .ui-state-enabled{
	height:30px !important;
	line-height:30px !important;
}
.fr-label{
	height:30px !important;
	line-height:30px !important;
	font-size:16px !important;
	margin-right:5px !important;
}
.fr-texteditor£¨
.fr-btn-up.fr-btn-noicon,
.fr-trigger-btn-up,
.fr-trigger-btn-over,
.fr-trigger-btn-down,
.fr-trigger-texteditor,
.fr-trigger-text,
.fr-trigger-editor.ui-state-enabled,
.fr-btn-small.fr-btn-icon-small-left,
.fr-btn-text{
	height:30px !important;
	line-height:30px !important;
	font-size:16px !important;
}
.x-toolbar.ui-state-enabled .fr-btn-small.fr-btn-icon-small-left,
.x-toolbar.ui-state-enabled .fr-btn-text{
	height:16px !important;
	line-height:16px !important;
	font-size:12px !important;
}
.fr-trigger-editor{
	border:1px solid #ccc;
	border-radius:4px;
	min-width:130px;
}
.fr-trigger-texteditor,
.fr-trigger-text{
	border:0px !important;
	min-width:112px;
}
.fr-trigger-btn-up,.fr-trigger-btn-over,.fr-trigger-btn-down{
	border:0px !important;
}
.fr-btn.ui-state-enabled{
	border-radius:4px;
	
}
.fr-btn-up.fr-btn-noicon{
	background-color:#00c0ef !important;
}
.pmeter-container.fr-absolutelayout>.ui-state-enabled:first-child{
	 left: 41px !important;
	  top: 27px !important;
}
.pmeter-container.fr-absolutelayout>.fr-trigger-editor.ui-state-enabled:nth-child(2){
	 left: 121px !important;
	  top: 27px !important;
}
.pmeter-container.fr-absolutelayout>.ui-state-enabled:nth-child(3){
	left: 288px !important;
	  top: 27px !important;
}
.pmeter-container.fr-absolutelayout>.fr-trigger-editor.ui-state-enabled:nth-child(4){
	left: 368px !important;
	  top: 27px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(5){
	left: 530px !important;
	  top: 27px !important;
}
.pmeter-container.fr-absolutelayout>.ui-state-enabled:nth-child(7){
	 left: 41px !important;
	  top: 67px !important;
}
.pmeter-container.fr-absolutelayout>.ui-state-enabled:nth-child(8){
	 left: 121px !important;
	  top: 67px !important;
	border: 1px solid #ccc;
    border-radius: 4px;
    min-width:112px;
   
}
.pmeter-container.fr-absolutelayout>.ui-state-enabled:nth-child(8) input{
	 font-size:16px !important;
	 height:30px !important;
	 border:0px;
	 padding:0px 3px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(8){
		 left: 121px !important;
	  top: 67px !important;
	  width:54px !important;
	  min-width:0px;
	  font-size:12px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(8) .fr-btn-up.fr-btn-noicon{
	width:54px !important;
}
.pmeter-container.fr-absolutelayout>.ui-state-enabled:nth-child(9){
	 left: 288px !important;
	  top: 67px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(9){
		 left: 200px !important;
	  top: 67px !important;
	  width:54px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(9) .fr-btn-up.fr-btn-noicon{
	width:54px !important;
}


.pmeter-container.fr-absolutelayout>.ui-state-enabled:nth-child(10){
	 left: 368px !important;
	  top: 67px !important;
	  border: 1px solid #ccc;
    border-radius: 4px;
    min-width:112px;
    font-size:16px !important;
}
.pmeter-container.fr-absolutelayout>.ui-state-enabled:nth-child(10) input{
	 font-size:16px !important;
	 height:30px !important;
	 border:0px;
	 padding:0px 3px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(10){
		 left: 279px !important;
	  top: 67px !important;
	  width:54px !important;
	   min-width:0px;
	   font-size:12px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(10) .fr-btn-up.fr-btn-noicon{
	width:54px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(11){
		 left: 358px !important;
	  top: 67px !important;
	  width:54px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(11) .fr-btn-up.fr-btn-noicon{
	width:54px !important;
}
.pmeter-container.fr-absolutelayout>.fr-trigger-editor.ui-state-enabled:nth-child(11){
	left: 486px !important;
	 top: 67px !important;
	  width:54px !important;
}
.pmeter-container.fr-absolutelayout>.fr-trigger-editor.ui-state-enabled:nth-child(11) .fr-btn-up.fr-btn-noicon{
	width:54px !important;
}
.pmeter-container.fr-absolutelayout>.fr-trigger-editor.ui-state-enabled:nth-child(12){
	left: 622px !important;
	 top: 67px !important;
	  width:54px !important;
}
.pmeter-container.fr-absolutelayout>.fr-trigger-editor.ui-state-enabled:nth-child(12) .fr-btn-up.fr-btn-noicon{
	width:54px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(12){
		 left: 529px !important;
	  top: 67px !important;
	  width:54px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(12) .fr-btn-up.fr-btn-noicon{
	width:54px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(13){
		 left: 618px !important;
	  top: 67px !important;
	  width:54px !important;
}
.pmeter-container.fr-absolutelayout>.fr-btn.ui-state-enabled:nth-child(13) .fr-btn-up.fr-btn-noicon{
	width:54px !important;
}
.fr-texteditor{
	border:0px;
}
.x-table{
	
	width:100% !important;
	
}
.x-table td{
	padding:5px 3px !important;
}
.x-table tr:first-child td{
	background-color:#efefef !important;
}
.x-table tr:nth-child(2) td{
	background-color:#efefef !important;
}
.b1{
	border:1px solid #ccc;
}
.report-background{
	left:0px !important;
	top:25px !important;
}
.pmeter-container.fr-absolutelayout.ui-state-enabled{
	background-color:#fff  !important;
}